.footer {
  background-image: url(../img/stockControl_pie.jpg);
  padding: var(--spacing-68);
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  align-items: start;
  z-index: 2;
  position: relative;
  color: var(--light-font-solid);
}

.footer__copy {
  margin-top: var(--spacing-8);
  text-align: center;
  font-size: var(--font-medium);
  color: var(--light-font-solid);
}